body{
    background-color: rgb(31, 30, 30);
    font-family: 'Rubik', sans-serif;
}

.navlogoviajes{

    block-size: 3.5rem;
}

header {
    
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: auto;
  }

  .main-carousel {
    margin: auto;
    width: 100%;
    margin: auto;
  }

  .border-bottom{
   color: cornsilk;
  }

  .row{
      color: cornsilk;
  }

  .Viajes{
    font-family: 'Rubik', sans-serif;
    font-size: 3em;
    color: cornsilk;
    float: left;
    margin: auto;
    padding: 20px;
  }

  .fab{
      padding: auto;
      color:cornsilk;
      margin: 0.75rem;
  }
  
  .card{
    margin: 2rem;
    display: inline-block;
    color: cornsilk;
    
  }

  .form-group{
    background: rgb(206, 201, 201);
  }